@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,900);
@import "../less/bootstrap.less";
@import "../less/responsive-embed.less";
@import "../less/responsive-utilities.less";
@import "../less/variables.less";

body{
  .padding{
    padding: 3em 0;
  }
  .theme{
    background-color: lighten(#B404AE, 55%);
  }
  .dark{
    background-color: darken(#B404AE, 10%);
    color: #ffffff;
  }
  padding-top: 50px;
  footer.padding{
    #gradient > .vertical(#1C1C1C, #585858);
    background-color: #2E2E2E;
    color: #ffffff;
    padding: 2em 0;
  }
}
